<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>What about Chinese discourse on transcultural typography?</title>
    <meta name="description" content="Draft english translation of Chinese discourse on transcultural typography">
    <meta name="author" content="Chen Hui Jing">

    <style>
    main {
      max-width: 45em;
      margin: 0 auto;
    }

    p, li { line-height: 1.5 }

    br {
      display: block;
      content: "";
      margin-bottom: 0.25em;
    }

    .doublecheck {
      background: #ffe4e1;
      color: maroon;
    }

    .checkagainst {
      background: #fffacd;
      color: #8b4513
    }
    </style>
  </head>

  <body>
    <main>
      <h1 id="chinese-discourse-on-transcultural-typography">一次关于跨文化文字设计的讨论（一）：审美、理念与思路<br>What about Chinese discourse on transcultural typography?</h1>
      <hr>
      {{ content | safe }}
    </main>
  </body>

</html>
